certifi==2023.11.17
charset-normalizer==3.3.2
docutils==0.20.1
idna==3.6
Kivy==2.2.1
Kivy-Garden==0.1.5
kivymd==1.1.1
peewee==3.17.0
Pillow==10.1.0
Pygments==2.17.2
python-dotenv==1.0.0
requests==2.31.0
urllib3==2.1.0
